/* r01 – GLOBAL RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:319BDC;
  color:white;
}

/* 3D CANVAS */
#bg3d{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

/* HEADER */
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:319BDC;
  z-index:10;
}

.logo{
  font-size:22px;
  font-weight:bold;
  color:#633;
}

nav a{
  margin-left:20px;
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#633;
}

/* MOBILE */
@media (max-width:768px){
nav a{
  margin-left:20px;
  font-size:10px;
  white-space:nowrap;
  color:white;
  text-decoration:none;
  transition:0.3s;
}

